In [1]:
# import dependencies
import pandas as pd
from pathlib import Path
import sqlite3
!pip install pandas psycopg2
import psycopg2
from keys import post_username, post_password

# import CSV
climate_impact_data = Path("Resources/climate_change_impact_on_agriculture_2024.csv")

Requirement already satisfied: pandas in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (2.2.2)
Requirement already satisfied: psycopg2 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (2.9.9)
Requirement already satisfied: numpy>=1.22.4 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nbart.desktop-3of7m8n\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Create a DataFrame
climate_impact_df = pd.read_csv(climate_impact_data)
climate_impact_df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72

In [3]:
climate_impact_df['Region'].unique()

array(['West Bengal', 'North', 'Ile-de-France', 'Prairies', 'Tamil Nadu',
       'Midwest', 'Northeast', 'New South Wales', 'Punjab', 'North West',
       'South East', 'Grand Est', 'Northwestern', 'Siberian', 'Northwest',
       'Victoria', 'Nouvelle-Aquitaine', 'South', 'Quebec', 'Southeast',
       'Ontario', 'East', 'Pampas', 'Western Australia', 'Volga',
       'Maharashtra', 'Provence-Alpes-Cote dâ€™Azur', 'West', 'Central',
       'North Central', 'Patagonia', 'Queensland', 'South West',
       'British Columbia'], dtype=object)

In [4]:
len(climate_impact_df['Region'].unique())

34

In [5]:
climate_impact_df['Country'].unique()

array(['India', 'China', 'France', 'Canada', 'USA', 'Argentina',
       'Australia', 'Nigeria', 'Russia', 'Brazil'], dtype=object)

In [6]:
len(climate_impact_df['Country'].unique())

10

In [7]:
group_df = climate_impact_df.groupby('Country')['Region'].nunique().reset_index()

In [8]:
group_df

     Country  Region
0  Argentina       4
1  Australia       4
2     Brazil       4
3     Canada       4
4      China       4
5     France       4
6      India       4
7    Nigeria       4
8     Russia       4
9        USA       4

In [9]:
grouped_df = climate_impact_df.groupby("Country")["Region"].unique().reset_index()

pd.set_option('display.max_colwidth', None)
grouped_df

,Country,Region
0,Argentina,"[Northeast, Northwest, Pampas, Patagonia]"
1,Australia,"[New South Wales, Victoria, Western Australia, Queensland]"
2,Brazil,"[North, Northeast, Southeast, South]"
3,Canada,"[Prairies, Quebec, Ontario, British Columbia]"
4,China,"[North, East, South, Central]"
5,France,"[Ile-de-France, Grand Est, Nouvelle-Aquitaine, Provence-Alpes-Cote dâ€™Azur]"
6,India,"[West Bengal, Tamil Nadu, Punjab, Maharashtra]"
7,Nigeria,"[North West, South East, North Central, South West]"
8,Russia,"[Northwestern, Siberian, Volga, Central]"
9,USA,"[Midwest, Northeast, South, West]"

In [10]:
# Check for unique crops per country, region, and year
unique_crops = climate_impact_df.groupby(['Country', 'Region', 'Year'])['Crop_Type'].nunique()

# Display the results
unique_crops

Country    Region     Year
Argentina  Northeast  1990    8
                      1991    8
                      1992    6
                      1993    3
                      1994    6
                             ..
USA        West       2020    4
                      2021    8
                      2022    1
                      2023    7
                      2024    6
Name: Crop_Type, Length: 1398, dtype: int64

Investigate the Crop_Type column, find the number of unique entries.

In [11]:
total_unique_crops = climate_impact_df['Crop_Type'].unique()
total_unique_crops

array(['Corn', 'Wheat', 'Coffee', 'Sugarcane', 'Fruits', 'Rice', 'Barley',
       'Vegetables', 'Soybeans', 'Cotton'], dtype=object)

In [12]:
len(total_unique_crops)

10

In [13]:
# Creating the pivot table
pivot_table = climate_impact_df.pivot_table(
    index=['Country', 'Region'],   # Rows
    columns=['Year', 'Crop_Type'],  # Columns
    aggfunc='count',                # Change this if you want a different aggregation
    fill_value=0                    # Replace NaN with 0
)

pivot_table.head()

                          Adaptation_Strategies                            \
Year                                       1990
Crop_Type                                Barley Coffee Corn Cotton Fruits
Country   Region
Argentina Northeast                           1      1    3      1      2
          Northwest                           0      1    0      0      1
          Pampas                              1      1    0      0      1
          Patagonia                           1      0    0      1      0
Australia New South Wales                     0      0    1      2      1

                                                                    ...  \
Year                                                                ...
Crop_Type                 Rice Soybeans Sugarcane Vegetables Wheat  ...
Country   Region                                                    ...
Argentina Northeast          1        0         1          1     0  ...
          Northwest          1        0         0          0     0  ...
          Pampas             1        1         0          1     2  ...
          Patagonia          0        1         0          0     0  ...
Australia New South Wales    0        0         1          0     1  ...

                          Total_Precipitation_mm                            \
Year                                        2024
Crop_Type                                 Barley Coffee Corn Cotton Fruits
Country   Region
Argentina Northeast                            0      1    2      0      3
          Northwest                            1      0    1      1      2
          Pampas                               0      0    0      2      1
          Patagonia                            0      2    0      1      0
Australia New South Wales                      0      1    2      2      1


Year
Crop_Type                 Rice Soybeans Sugarcane Vegetables Wheat
Country   Region
Argentina Northeast          0        0         3          0     0
          Northwest          0        0         0          1     1
          Pampas             1        0         0          0     0
          Patagonia          2        1         0          0     0
Australia New South Wales    0        3         3          0     0

[5 rows x 3850 columns]

Even in the `.head.()` preview, you can see that there are multiples some occurences of crop type, per year, per region, per country. This was done to test if a composite key of year, country, region, and crop type could be made for importing to an SQL database. A bit of the horse before the cart, because I think any actions we take doing ETL should be down after loading this CSV dataset from an SQL database.

Have been using Excel pivot tables to view the data, check for issues. Mostly trying to see if I can find a primary key, but I don't think there is one. Each row is basically it's own primary key.

Now how do I use sqlite to find this database? I need to import it here.

In [14]:
conn = psycopg2.connect(
    dbname='team6-project3_db',
    user= post_username,
    password= post_password,
    host='localhost',
    port='5432'
)

In [15]:
query = "SELECT * FROM climate_impact_agriculture;"

In [16]:
new_climate_df = pd.read_sql_query(query, conn)

C:\Users\nbart.DESKTOP-3OF7M8N\AppData\Local\Temp\ipykernel_11236\3604977624.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  new_climate_df = pd.read_sql_query(query, conn)

In [17]:
conn.close()

In [18]:
new_climate_df.head()

,year,country,region,crop_type,average_temperature_c,total_precipitation_mm,co2_emissions_mt,crop_yield_mt_per_ha,extreme_weather_events,Irrigation_Access_%,pesticide_use_kg_per_ha,fertilizer_use_kg_per_ha,soil_health_index,adaptation_strategies,economic_impact_million_usd
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72

Starting again, odd that `.db` file exists here, but the backup save didn't catch the code that created it!

In [19]:
sqlite_conn = sqlite3.connect('climate_impact_agriculture.db')

new_climate_df.to_sql('climate_impact_agriculture', sqlite_conn, if_exists='replace', index=False)

sqlite_conn.close()

OK we created the DB file in a convoluted way that was surely unnecessary... but it's there and can help us create a DF, which we've already done twice...
I will comment out the part where I import it from my computer? I think it's important they see where it came from, but no one else will be able to run it. The alternative is to create the cloud server... I've already done it this way but, it's a strange method that doesn't really make sense.

In [20]:
sqlite_conn = sqlite3.connect('climate_impact_agriculture.db')

third_climate_df = pd.read_sql_query("SELECT * FROM climate_impact_agriculture;", sqlite_conn)

sqlite_conn.close()

third_climate_df.head()

,year,country,region,crop_type,average_temperature_c,total_precipitation_mm,co2_emissions_mt,crop_yield_mt_per_ha,extreme_weather_events,Irrigation_Access_%,pesticide_use_kg_per_ha,fertilizer_use_kg_per_ha,soil_health_index,adaptation_strategies,economic_impact_million_usd
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72